
	<div class="badgeBox">
	<div class="exitBtn">
		<a href="#" class="cancel" style="margin-top:2%"> <i class="fa fa-times fa-lg"></i> </a>
	</div>
		<div id="popupContent" style="margin-top:20px"><i><b style="font-size:20px; padding-bottom:10px">Level Names:</b></i><br/>
	        <span style="text-align:left; color:black;font-size:10px;">
	        <h3> Power Pose </h3>
	        <h4> In Amy Cuddy’s video, Your Body Language Shapes Who You Are, she asserts that not only does body language affect how others see you, but how we see ourselves. Her studies show that “power posing” – standing in a posture of confidence, even when you don’t feel confident – affects your brain’s testosterone and cortisol levels, and makes you feel more confident. Her research concludes that changing your body positions does influence how others see you and even alters your body chemistry. </h4>

	        </span><br/>
	    </div>
  </div>


