
<div id="overlay2"></div>
	<div id="popupBox2" style="left:5%; right:5%">
		<div class="exitBtn">
		<a href="#" class="cancel2" style="margin-top:2%"><i class="fa fa-times fa-lg"></i> </a>
	</div>
		<div id="popupContent2" style="text-align:center; font-size:24px;">
			<b style="font-size:24px; text-align:center">Congratulations!</b>
			<br/>

			<div style="text-align:center">
			{{#each unlockedPoses}}
			<i class="fa fa-star"></i>
			{{/each}}
			</div>

	        <span style="text-align:left ;color:black;">
			<p style="margin-left:10px; font-size: 18px"><b style="font-size:18px">You Have:</b></p>
			<p style="margin-left:15px; font-size: 17px">- leveled up to <i>{{levelName}} </i></p>
			<p style="margin-left:15px; font-size: 17px">- earned a new badge</p>
			{{#if notAnsweredAll}}
			<p style="margin-left:15px; font-size: 17px">- unlocked 2 additional questions</p>
			{{/if}}
			<p id= "lvlP2" style="float:left; font-size: 16px; margin-top: 15px; font-style:italic">You're one step closer to SUCCESS!</p>
	        </span><br/>

	        <a href="/achievement" class="btn btn-primary btn-sm" style="float:right; margin: 5% 0% 5%; font-size:16px; color:#18BC9C"> View Achievement </a>
	    </div>
	</div>


