<div id="overlay2"></div>
	<div id="popupBox2">
		<div id="popupContent2" style="text-align:center"><i><b><font size= "4">Congratulations!</font></b></i><br/>
	        <span style="text-align:center;color:black;">
			<p><font size="4"><b>You Have:</b></font></p>
			<p><font size="3">- leveled up to <i>{{levelName}}</i>!</font></p>
			<p><font size="3">- earned a new badge!</font></p>
			<p><font size="3">- unlocked 2 additional questions!</font></p>
			<p id= "lvlP2"><i><font size="2">*Check out your new badge in the Achievement page. Keep up the GREAT work!</font></i></p>
	        </span><br/>
	    <button class="cancel2">Close</button>
	    </div>
</div>