<div id="overlay"></div>
	<div id="popupBox">
		<div id="popupContent"><i><b>Level Names:</b></i><br/>
	        <span style="text-align:center;color:black;font-size:10px;">
	        <p><font size="3">Level 1: Stiffy</font></p>
			<p><font size="3">Level 2: Novice</font><p>
			<p><font size="3">Level 3: Achiever</font></p>
			<p><font size="3">Level 4: Master</font></p>
			<p><font size="3">Level 5: Legendary</font></p><br/>
			<p id= "lvlP"><i><font size="3">*Each level represents your current ability stage to succeed in interviews.</font></i></p>
	        </span><br/>
	    <button class="cancel">Close</button>
	    </div>
    </div>