<div id="overlay"></div>
	<div id="popupBox">
	<div class="exitBtn">
		<a href="#" class="cancel" style="margin-top:2%"> <i class="fa fa-times fa-lg"></i> </a>
	</div>
		<div id="popupContent" style="margin-top:20px"><i><b style="font-size:20px; padding-bottom:10px">Level Names:</b></i><br/>
	        <span style="text-align:left; color:black;font-size:10px;">
	        <p style="margin-left:40px"><font size="3">Level 1: Novice</font></p>
			<p style="margin-left:40px"><font size="3">Level 2: Achiever</font><p>
			<p style="margin-left:40px"><font size="3">Level 3: Expert</font></p>
			<p style="margin-left:40px"><font size="3">Level 4: Master</font></p>
			<p style="margin-left:40px"><font size="3">Level 5: Legendary</font></p><br/>
			<p id= "lvlP"><i><font size="3">*Answer 2 interview questions to LEVEL UP, earn Badges, and unlock more questions.</font></i></p>

	        </span><br/>
	    </div>
  </div>


