<!DOCTYPE html>

<html>
<head>
	<title>Achievement</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="css/achievement.css" rel="stylesheet">
	<link rel="stylesheet" href="/css/hamburgerbar.css">


</head>


<body>
	<header>
  			<button class="hamburger">&#9776;</button>
  			<button class="cross">&#735;</button>
  			<a class="myButton">Level 7: SuperStar</a>
	</header>

	<div class="menu">
 	 <ul>
   		<a href="/"><li>Home</li></a>
    	<a href="/achievement"><li>Achievement</li></a>
    	<a href="/question"><li>Questions</li></a>
    	<a href="/"><li>Log out</li></a>
  	</ul>
	</div>
	

	<div class="container">
		<div class="jumbotron">
			<h1>Achievement</h1>
		</div>

		<h3>Badges Earned:</h3>
		<div>
			<img src="http://cdn.gamesaints.com/c/ga/cover/4f/iron-man-star-war/iron-man-star-war.jpg?v=1426131631" alt=""  /> 
			<img src="http://cdn.gameomg.me/c/gom/cover/06/spider-man-future-adventure/spider-man-future-adventure.jpg?v=1419822840" alt=""  />
			<img src="http://cdn.puzzlegames.la/c/pg/cover/1c/batman-jigsaw-puzzle/batman-jigsaw-puzzle.jpg?v=1419820644" alt="" />
			<img src="http://www.comicplanetcultureforlife.com/wp-content/uploads/2016/01/superman-mjolnir-200x200.jpg" alt=""  /> 
		</div>

		<h3 id="questionHeader">Answered Questions:</h3>
		<h5 style="color:green"> [click a question to view its past self-evaluations]</h5>

		<div class="questionBox">
		<ul><a href="/evalsHistory">
			<div class="availableQuestion">
				<li><button>Tell me about yourself and your interests</button></li>
			</div>
			<div class="availableQuestion">
				<li><button>What is one project you worked on?</button></li>
			</div>	
			<div class="availableQuestion">
				<li><button>Name three words/phrases that describe you and for each word, justify why you chose it.</button></li>
			</div>
			</a>
		</ul>

	</div>
	</div>

	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="/js/introHCI.js"></script>
  
</body>

</html>
