<!doctype html>

<html>
<head>
	<title>Career Goal</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="css/bootstrapTest.css" rel="stylesheet">
<!-- 	<link href="css/careergoal.css" rel="stylesheet"> -->
	<link href="css/font-awesome-4.5.0/css/font-awesome.css" rel="stylesheet">
 
</head>

<body>
	<div class="header" style="padding-top:1%; margin:auto; text-align:center">
		  <img src="/images/PrepS.jpg" style="align:middle; width: 90%; margin-top:40px">
		  <h4>
		  	Boost your confidence
		  </h4>
		  <h4>
		  	Rock your interview
		  </h4>
		  <h4>
		  	Get your dream job
		  </h4>

	
	</div>



	<div>
		<button type="button" class="btn btn-primary" style="margin-top:40%">
         <a href="/careergoal2">
          Next
         </a>
     	</button>
	</div>

  
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/introHCI.js"></script>
</body>

</html>
