<!doctype html>

<html>
<head>
	<title>Question Evaluation</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="css/bootstrapTest.css" rel="stylesheet">
	<link href="css/evaluation.css" rel="stylesheet">
	<link rel="stylesheet" href="/css/hamburgerbar.css">

</head>

<body>

	<header>
  			<button class="hamburger">&#9776;</button>
  			<button class="cross">&#735;</button>
	</header>

	<div class="menu">
 	 <ul>
   		<a href="/"><li>Home</li></a>
    	<a href="/achievement"><li>Achievement</li></a>
    	<a href="/question"><li>Questions</li></a>
    	<a href="/"><li>Log out</li></a>
  	</ul>
	</div>

	</h3>{{questionSelected}}</h3>

<div class="pageTitle">
	<h2 > Self-Evaluation</h2>
	<h4> Evaluate the quality of your response. How well did you convey the following: </4>
	</div>

<div class="evaluationBox" >
	<div class="columnHeadings">
	<div class="row" >
		<div class="col-xs-6"> </div>
		<div class="col-xs-2">
			<p style="margin-top:50px" align="center"> Poor</p>
		</div>
		<div class="col-xs-2">
			<p style="margin-top:50px" align="center"> Decent</p>
		</div>
		<div class="col-xs-2">
			<p style="margin-top:50px" align="center"> Great</p>
		</div>
<!-- 		<div class="col-xs-1"> </div> -->
	</div> <!-- end row -->
	</div> <!-- end column headings -->


	<div class="evalList">
		<div class="row" id="eachRow">

		<div class="col-xs-6">
			<p> Brief introduction of name, major, and field of interest  </p>
		</div>

		<div class="col-xs-2" align="center">
		<label class="radio-inline">
		  <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1"> </label>
		 </div>

		<div class="col-xs-2" align="center">
		<label class="radio-inline">
		  <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2"> </label>
		  </div>

		<div class="col-xs-2" align="center">
		<label class="radio-inline">
		  <input type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3"> </label>
		</div>

	<!-- 	<div class="col-xs-1"> </div> -->

		</div>	<!-- end row -->
	</div>

<!-- this will be the second row. Need to implement "each" at some point -->

<div class="secondRow">

<div class="row" id="eachRow">

		<div class="col-xs-6">
			<p> Briefly highlight specific experience or accomplishments in your field </p>
		</div>

		<div class="col-xs-2" align="center">
		<label class="radio-inline">
		  <input type="radio" name="inlineRadioOptions2" id="inlineRadio1" value="option1"> </label>
		  </div>

		<div class="col-xs-2" align="center">
		<label class="radio-inline">
		  <input type="radio" name="inlineRadioOptions2" id="inlineRadio2" value="option2"> </label>
		  </div>

		<div class="col-xs-2" align="center">
		<label class="radio-inline">
		  <input type="radio" name="inlineRadioOptions2" id="inlineRadio3" value="option3"> </label>
		</div>

<!-- 		<div class="col-xs-1"> </div> -->

	</div>

  </div>  <!-- end secondRow-->



  <div class="thirdRow">

<div class="row" id="eachRow">

		<div class="col-xs-6">
			<p> Briefly describe one strong characteristic that makes you stand out 
 </p>
		</div>

		<div class="col-xs-2" align="center">
		<label class="radio-inline">
		  <input type="radio" name="inlineRadioOptions3" id="inlineRadio1" value="option1"> </label>
		  </div>

		<div class="col-xs-2" align="center">
		<label class="radio-inline">
		  <input type="radio" name="inlineRadioOptions3" id="inlineRadio2" value="option2"> </label>
		  </div>

		<div class="col-xs-2" align="center">
		<label class="radio-inline">
		  <input type="radio" name="inlineRadioOptions3" id="inlineRadio3" value="option3"> </label>
		</div>

		<!-- <div class="col-xs-1"> </div> -->

	</div>

  </div>  <!-- end thirdRow-->





  
<!-- 	<a href = "/evaluation" >
          <button id="doneButton" class="myButton2">Continue</button> 
      	</a>
 -->
     <button type="button" class="btn btn-primary" id="donebutton"style=" float:right">
    	<a href="/feedback">
    	Continue
	    </a>
    </button>

   </div>

	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/introHCI.js"></script>
</body>

</html>
