<!doctype html>

<html>
<head>
	<title>Question Evaluation</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="css/bootstrapTest.css" rel="stylesheet">
	<link href="css/feedback.css" rel="stylesheet">
	<link href="css/font-awesome-4.5.0/css/font-awesome.css" rel="stylesheet">
	<link href="css/feedback.css" rel="stylesheet">
	<link rel="stylesheet" href="/css/hamburgerbar.css">


</head>

<body>

	<header>
  			<button class="hamburger">&#9776;</button>
  			<button class="cross">&#735;</button>
  	  		<a class="myButton">Level 7: SuperStar</a>

	</header>

	<div class="menu">
 	 <ul>
   		<a href="/"><li>Home</li></a>
    	<a href="/achievement"><li>Achievement</li></a>
    	<a href="/question"><li>Questions</li></a>
    	<a href="/"><li>Log out</li></a>
  	</ul>
	</div>


<h2> {{originalQuestion}} </h2>

<div class="feedbackBox">


	<h3 class = "feedbackTitle"> Great work on the following: </h3>

	<div class="row" >
	<div class="col-xs-1"> </div>

	<div class="feedbackAdd" >
	<button style="border-style:none; background-color:transparent"> <i class="fa fa-check-circle" class="col-xs-10" id="listItems"></i> Your name and major  </button>
	</div> <!-- end of feedbackAdd -->

	<div class="col-xs-1"> </div>
	</div> <!-- end of row -->
	



	<h3 class = "feedbackTitle"> These have room for improvement: </h3>
	


	
	<div class="row" >
	<div class="col-xs-1"> </div>

	<div class="feedbackAdd" >
	<button style="border-style:none; background-color:transparent"> <i class="fa fa-caret-right" class="col-xs-10" id="listItems"></i> Your interest in the field  </button>
	</div> <!-- end of feedbackAdd -->

	<div class="col-xs-1"> </div>
	</div> <!-- end of row -->




	<h4 style="margin-top:8%"> Check "Decent" or "Great" for all guideline items with at least two "Great" to earn a Power Pose Badge.</h4>
	<h4 style="margin-bottom:2%"> Remember to be honest and truthful.</h4>
	<a href="https://www.youtube.com/watch?v=Ks-_Mh1QhMc" > Why Power Poses? Click here to learn more.</a>

    <button type="button" class="btn btn-primary" style="float:right" id="continue">
    	<a href="/question">
    	Back to Questions 
	    </a>
    </button>
</div>


	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/introHCI.js"></script>
</body>

</html>
