<!doctype html>

<html>
<head>
	<title>PrepS</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="css/bootstrapTest.css" rel="stylesheet">
	<link href="css/introHCI.css" rel="stylesheet">
	<link href="css/font-awesome-4.5.0/css/font-awesome.css" rel="stylesheet">
 
</head>


<body>

	{{#if versionB}}
	<div class="containerBox">
		<!-- h1 through h6 are headers. The higher the number, the smaller the header -->
		<!-- p means paragraph -->
		<div class="jumbotron" style="color:white; padding-top:2%">
			<h1><b>Prep-S</b></h1>
			<hr style="width:70%;align: center">
			<p style="color:white">Maximize your career chances with Prep-S, an interactive interview preparation!</br></br>
			<a href="/learnmore" style="margin-top: 30px"><b><u>Find Out How</u></b></a></p>
			

		 <button type="button" class="btn btn-primary" id="startButton" style="margin-top: 130px">
		    	<a href="/login">
		    	Let's Get Started
			    </a>

		 </button>
		 <div>

	</div>
	
	{{else}}
	<div class="containerBox">

		<div class="jumbotron" style="color:white; padding-top:1%">
			<div class="questionMark" style="float:right">
				<a href="/learnmore" > <i class="fa fa-question-circle fa-2x" id="qMark" ></i></a>
			</div>
			<div style="margin-top: 50px">
				<h1 ><b>Prep-S</b></h1>
				<hr style="width:70%;align: center">
				<p style="color:white"> Maximize your career chances with Prep-S, an interactive interview preparation. </p>
			</div>
			


		 <button type="button" class="btn btn-primary" id="startButton" style="margin-top: 150px">
		    	<a href="/login">
		    	Let's Get Started
			    </a>
		 </button> </br></br>
		 <p style="color:white; font-size: 15px">Copyright &copy;2016 Team Dragon</p>
		 <div>

	</div>
	{{/if}}

  
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/introHCI.js"></script>
</body>

</html>
