<!DOCTYPE html>
<html>
  <head>
    <title>Learn More</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="/css/learnmore.css">
    <link rel="stylesheet" href="/css/hamburgerbar.css">


</head>
  <body>

    <header>
      <button class="hamburger">&#9776;</button>
      <button class="cross">&#735;</button>
  </header>

  <div class="menu">
   <ul>
      <a href="/"><li>Home</li></a>
      <a href="/"><li>Log out</li></a>
    </ul>
  </div>
  <!-- this is a comment in HTML -->
    <div class="main">
      <div class="title">
          <h2>Learn More</h2>
          <p>The Road to Success Begins Here...</p>
      </div>

     
      <div class="body">
      
        <h1 class="header"><i><u>About</u></i></h1>
        <div class= "aboutP" style="color:black">
        <p><b>The saying goes "Practice makes perfect" but have you ever practiced your interview?
        Don't worry, Prep-s has you covered. We will provide a simulation of the interview 
        process by offering questions you may potentially encounter. You will then have a chance
        to deliver a verbal response as you would in an interview. With guided feedbacks based on
        what interviewers anticipate in each question, you can improve your future response to 
        the question.</b></p>
        </div>

        <p id="paragraph" style="color:green"><b>* Engage to unlock more questions &middot; Gain confidence for your interview &middot; Maximize your chance
        for receiving an offer *<b></p>

        <h1 class="header"><i><u>How It Works?</u></i></h1>

        <div class= "aboutP" style="color:black">
        <ol>
          <li><h2><b>Login to your account,register for a new account, or enter guest mode.</b></h2></li>
          <li><h2><b>Select a question on Questions page and begin to challenge yourself.</b></h2> <h4> (Note: Some questions may be locked and will require you to answer all unlocked questions first before they become accessible.)<h4></li>
          <li><h2><b>After reading the question, take some time to think about it</b></h2></li>
          <li><h2><b>Are you ready? Click 'Start' to record your response to the question.</b></h2></li>
          <li><h2><b>Once finished, you may plackback or download the recording.</b></h2></li>
          <li><h2><b>Next, fill out the self-evaluation to assess your performance</b></h2></li>
          <li><h2><b>Be sure to HONESTLY rate yourself because you can always improve yourself.</b></h2></li>
          <li><h2><b>If you are a registered user, you may view your achievements. Otherwise, please register to utilize this feature.</b></h2></li>

        </ol>
        </div>

      </div>

      <div class="button">
      <a href = "/login" >
          <button id="startButton" class="myButton2">Let's Get Started</button> 
      </a>
      </div>

      <script src="https://code.jquery.com/jquery.js"></script>
      <script src="js/bootstrap.min.js"></script>
      <script src="/js/bootstrap.min.js"></script>
      <script src="js/introHCI.js"></script>
    </div>
  </body>
</html>
