<!DOCTYPE html>
<html>
  <head>
    <title>Learn More</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="/css/introHCI.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
  <!-- this is a comment in HTML -->
  <div class="container">
    <div class="jumbotron">
        <h1>Learn More</h1>
        <p>The Road to success begin here...</p>
    </div>

    <h2><i>About</i></h2>
    <p><b>The saying goes "Practise makes perfect" but have you ever practiced your interview?
    Don't worry, Pre-s has you covered. We will provide a simulation of the interview 
    process by offering questions your may potentially encounter. You will then have a chance
    to provide a verbal response as you would in an interview. With guided feedback based on
    what interviews anticipate in these questions, you can improve your future response to 
    the question.</b></p>

    <p><b>Engage to unlock more questions. Gain confidence for your interview. Maximize chance
    for receivingthe job offer<b></p>

    <h2><i>Start Instruction</i></h2>

    <ol>
      <li><h5><b>Login your account or register a new account, also start as guest</b></h5></li>
      <li><h5><b>Select the first question on questions page. Begin to challenge yourself</b></h5></li>
      <li><h5><b>After finish reading the question, think about it</b></h5></li>
      <li><h5><b>Ready? Click start to record your response for the question</b></h5></li>
      <li><h5><b>Finish recording? You will be transfered to the next milestone</b></h5></li>
      <li><h5><b>Click Play back to review your response, and make self-evaluation</b></h5></li>
      <li><h5><b>Don't forget to give yourself rating(We not recommand select 5 stars, because you can keep improving</b></h5></li>
      <li><h5><b>If you registered, go and check your achievement page, otherwise register to unlock it</b></h5></li>
    </ol>

    <p><a href="index.html">Back &raquo;</a></p>
  </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/js/bootstrap.min.js"></script>
  </body>
</html>
