<!DOCTYPE html>
<html>
<head>
  <title>Login/Registration</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/hamburgerbar.css">
    <link href="css/bootstrapTest.css" rel="stylesheet">
      <link rel="stylesheet" href="/css/login.css">

</head>

<body>

  <header>
        <button class="hamburger">&#9776;</button>
        <button class="cross">&#735;</button>
    </header>

  <div class="menu">
   <ul>
      <a href="/"><li>Home</li></a>
      <a href="/learnmore"><li>Learn More</li></a>
    </ul>
  </div>

  <!--<div class = "jumbotron">-->

  <form class="form" method="get" accept-charset="utf-8" action="/question?q=empty&id=empty" style="margin-top:40px">
    <h1 class = "header"> Login </h1>
    <div class = "loginform">
      <label for="username">Username</label>
      <input required type="text" class="inputBox" >
    </div>
    <div class = "loginform">
      <label for="password">Password</label>
      <input required type="password" class="inputBox">
    </div>
    <input type="hidden" name="q" value="empty" />

    <input type="submit" id="button" class="btn btn-primary" value="Login">
  </input>

  </form>



  <form class="form" method= "get" accept-charset="utf-8" action="/question?q=empty&id=empty" style="margin-top:30px">
    <h1 class = "header"> Register </h1>
    <div class = "regform">
      <label for="username">Username</label>
      <input required type="text" class="inputBox">
    </div>
    <div class = "regform">
      <label for="password">Password</label>
      <input required type="password" class="inputBox">
    </div>
    <input type="hidden" name="q" value="empty" />
    <input type="submit" id="button" class="btn btn-primary" value="Register"></input>

  </form>

  <script src="https://code.jquery.com/jquery.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/introHCI.js"></script>


</body>

</html>
