<!DOCTYPE html>

<head>
  <title>Login/Registration</title>
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/hamburgerbar.css">
</head>

<body>

  <header>
        <button class="hamburger">&#9776;</button>
        <button class="cross">&#735;</button>
    </header>

  <div class="menu">
   <ul>
      <a href="/"><li>Home</li></a>
      <a href="/learnmore"><li>Learn More</li></a>
    </ul>
  </div> 

	<h2 class = "header"> Login </h2>
  <section class="loginform cf">
    <form method="get" accept-charset="utf-8" action="/question">
      <ul>

        <li>
          <label>Username</label>
          <input required type="text" placeholder="username">
        </li>

        <li>
          <label >Password</label>
          <input required type="password" placeholder="password">
        </li>
        
        <li>
          <input id="loginButton" type="submit" value="Login">
        </li>

      </ul>
    </form>
  </section>

  <h1 class = "header"><b>~~~~~ OR ~~~~~</b></h1> 
  <h2 class = "header"> Registration </h2>

  <section class="loginform cf">
    <form method="get" accept-charset="utf-8" action= "/question">
      <ul>

        <li>
          <label>Username</label>
          <input required type="text" placeholder="username">
        </li>

        <li>
          <label >Password</label>
          <input required type="password" placeholder="password">
        </li>
        
        <li>
          <input id= "regButton" type="submit" value="Register">
        </li>

      </ul>
    </form>
  </section>


  <script src="https://code.jquery.com/jquery.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/introHCI.js"></script>


</body>

</html>
