<!DOCTYPE html>

<head>
  <title>Login and Registration Page</title>
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>

	<h3 class = "header"> Login </h3>
  <section class="loginform cf">
    <form name="login" action="index_submit" method="get" accept-charset="utf-8">
      <ul>

        <li>
          <label for="usermail">Username</label>
          <input type="username" name="usermail1" placeholder="username">
        </li>

        <li>
          <label for="password1">Password</label>
          <input type="password" name="password1" placeholder="password">
        </li>
        
        <li>
          <input type="submit" value="Login">
        </li>

      </ul>
    </form>
  </section>

  <h3 class = "header"> Registration </h3>
  <section class="loginform cf">
    <form name="register" action="index_submit" method="get" accept-charset="utf-8">
      <ul>

        <li>
          <label for="usermail">Username</label>
          <input type="username" name="usermail2" placeholder="username">
        </li>

        <li>
          <label for="password2">Password</label>
          <input type="password" name="password2" placeholder="password">
        </li>
        
        <li>
          <input type="submit" value="Register">
        </li>

      </ul>
    </form>

  </section>

	<h2 class = "header"><b>OR</b></h2> 

	<div class = "anomBox">
		<h4>--> click Guest Mode to stay Anonymous <-- </h4>
    <a href= "/question">
		<button id="guestMode" class="myButton3"> Guest Mode </button>
    </a>
	</div>

</body>

</html>