<!DOCTYPE html>

<html>
<head>
	<title>PrepS Questions</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="css/question.css" rel="stylesheet">
	<link rel="stylesheet" href="/css/hamburgerbar.css">
	<link href="css/font-awesome-4.5.0/css/font-awesome.css" rel="stylesheet">

</head>

<body>
<header>
  		<button class="hamburger">&#9776;</button>
  		<button class="cross">&#735;</button>
  		<a class="myButton">Level 7: SuperStar</a>
	</header>

	<div class="menu">
 	 <ul>
   		<a href="/"><li>Home</li></a>
    	<a href="/achievement"><li>Achievement</li></a>
    	<a href="/"><li>Log out</li></a>
  	</ul>
	</div>


	<div class= "container">
	<div class="jumbotron">
			<h1>Questions</h1>
	</div>
	<h2> Choose a question to begin. </h2>
	<div class="unlockedquestionBox">
		<ul>
			{{#each questionText}}

			<div class="row">	
				<div class="col-md-1">
				</div>

				<div class="availableQuestion" class="col-md-11" id="{{id}}">
			
		<!-- 		<a href="#"> -->
					<a href="/recording">
						<li><button class = "questionButton" id={{id}}>{{question}}</button></li>
					</a>
				</div>

			</div>

			{{/each}}
		</ul>
	</div>


	<div class="lockedquestionBox">
		<ul>

			{{#each lockedQuestionText}}
			
			<div class="row">	
				<div class="col-md-1">
				</div>

				<div class="lockedQuestion" class="col-md-11" id="{{id}}">
					<li><i class="fa fa-lock fa-2x" style="padding-left:2%" ><button><p class = "lockedMsg">Answer previous questions to unlock</p></button></i></li>
				</div>
			</div>
			{{/each}}
		</ul>
	</div>
</div>
  

	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/introHCI.js"></script>
	
</body>

</html>
