<!DOCTYPE html>

<html>
<head>
	<title>PrepS Questions</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="css/recording.css" rel="stylesheet">
	<link rel="stylesheet" href="/css/hamburgerbar.css">

</head>

<body>
<header>
  		<button class="hamburger">&#9776;</button>
  		<button class="cross">&#735;</button>
	</header>

	<div class="menu">
 	 <ul>
   		<a href="/"><li>Home</li></a>
    	<a href="/achievement"><li>Achievement</li></a>
    	<a href="/question"><li>Questions</li></a>
    	<a href="/login"><li>Log out</li></a>
  	</ul>
	</div>


		<div class= "container">
	<div class="jumbotron">
			<h1>Questions</h1>
	</div>
	<h2> Choose a question to begin. </h2>

	<div class="unlockedquestionBox">
		<ul>
			<div class="availableQuestion">
				<a href="/recording"><li><button>Tell me about yourself and your interests</button></li></a>
			</div>
			<div class="availableQuestion">
				<a href="/recording"><li><button>What are your experiences in your field?</button></li></a>
			</div>
			<div class="availableQuestion">
				<a href="/recording"><li><button>What is one project you worked on?</button></li></a>
			</div>	
		</ul>
	</div>


	<div class="lockedquestionBox">
		<ul>
			<div class="lockedQuestion">
				<li><button>What is one setback in a past project and how did you overcome it?</button></li>
			</div>	
			<div class="lockedQuestion">
				<li><button>How many golfballs can fit in a schoolbus?</button></li>
			</div>	
		</ul>
	</div>


	</div>
  

	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/introHCI.js"></script>
</body>

</html>
