<!doctype html>

<html>
<head>
	<title>PrepS Questions</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="css/question.css" rel="stylesheet">

</head>

<body>

		<div class="navBar">

			<ul>
				<li><a href="http://preps2.herokuapp.com" id="barText1">Home</a></li>
				<li><a href="/achievement" id="barText3">Achievement</a></li>
				<ul style="float:right; list-style-type:none;">
					<li><a href="viewbug.com" id="barText2">Guest</a></li>
				</ul>
			</ul>
		
		</div>


	<div class="questionBox">
		<ul>
			<div class="availableQuestion">
				<li><button>Tell me about yourself and your interests</button></li>
			</div>
			<div class="availableQuestion">
				<li><button>What are your experiences in your field?</button></li>
			</div>
			<div class="availableQuestion">
				<li><button>What is one project you worked on?</button></li>
			</div>	
			<div class="lockedQuestion">
					<li><button>What is one setback in a past project and how did you overcome it?</button></li>
			</div>	
			<div class="lockedQuestion">
					<li><button>How many golfballs can fit in a schoolbus?</button></li>
			</div>	
		</ul>

	</div>
  

	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/introHCI.js"></script>
</body>

</html>
