<!DOCTYPE html>

<html>
<head>
	<title>PrepS Questions</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/bootstrap-theme.min.css" rel="stylesheet">
<!-- 	<link href="css/bootstrapTest.css" rel="stylesheet"> -->
	<link href="css/question.css" rel="stylesheet">

</head>

<body>

		<div class="navBar">

			<ul>
				<li><a href="/" id="barText1">Home</a></li>
				<li><a href="/achievement" id="barText2">Achievement</a></li>
				<li><a href="/question" id="barText3">Questions</a></li>
				<li><a href="/" id="barText4">Log Out</a></li>

			</ul>
		
		</div>
	<div class= "container">
	<div class="jumbotron">
			<h1>Questions</h1>
	</div>
	<h2> Choose a question to begin. </h2>

	

	{{#each questionText}}
	<div class="questionBox">
		<ul>

			<div class="row">	
				<div class="col-md-1">
				</div>

				<div id="availableQuestion" class="col-md-11" id="{{id}}">
					<a href="/evaluation">
					<li><button>{{question}}</button></li>
				</a>
				</div>

			</div>
	
		</ul>
	</div>
	{{/each}}


	{{#each lockedQuestionText}}
	<div class="lockedQuestionBox">
		<ul>

			<div class="row">	
				<div class="col-md-1">
				</div>

				<div class="lockedQuestion" class="col-md-11" id="{{id}}">
					<li><button>{{question}}</button></li>
				</div>

			</div>
	
		</ul>
	</div>
	{{/each}}


  
   <!--  <button type="button" class="btn btn-primary" style="margin-left: 40px" >
    	<a href="/evaluation">
    	To Evaluation Page
    </a>
    </button>
 -->


	</div>
  

	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/introHCI.js"></script>
</body>

</html>
