<!DOCTYPE html>

<html>
<head>
	<title>PrepS Questions</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="css/question.css" rel="stylesheet">
	<link rel="stylesheet" href="/css/learnmore.css">
	<link rel="stylesheet" href="/css/hamburgerbar.css">

</head>

<body>

		<header>
  			<button class="hamburger">&#9776;</button>
  			<button class="cross">&#735;</button>
		</header>

	<div class="menu">
 	 <ul>
   		<a href="/"><li>Home</li></a>
    	<a href="/achievement"><li>Achievement</li></a>
    	<a href="/question"><li>Questions</li></a>
    	<a href="/login"><li>Log out</li></a>
  	</ul>
	</div> 

	<div class= "container">
	<div class="jumbotron">
			<h1>Start Question {{id}}</h1>
	</div>
	<!-- <h2> Choose a question to begin. </h2> -->

	<!-- {{#each questionText}} -->
	<div class="questionBox">
		<ul>

			<div class="row">	
				<div class="col-md-1">
				</div>

				<div id="availableQuestion" class="col-md-11" id="{{id}}">
					<a href="/recording">
					<li><button>{{question}}</button></li>
				</a>
				</div>

			</div>
	
		</ul>
	</div>
	<!-- {{/each}} -->

	<!-- <div class="questionBox">
		
		<ul>
			<div class="availableQuestion">
				<li><button>Tell me about yourself and your interests</button></li>
			</div>
		</ul>

	</div> -->
	</div>

	<iframe src="http://vocaroo.com/?minimal" width="525" height="450" frameborder="0"></iframe><br>

	<div class="button">
      <a href = "/evaluation" >
          <button id="startButton" class="myButton2">Done</button> 
      </a>
      </div>
  

	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/introHCI.js"></script>
</body>

</html>
