.example-class-selector {
     margin-top: 2em;
}

.example-class-selector p {
     /* Colors are in hexadecimal: http://www.colorpicker.com/ */     
     color: #CC00AA;
}

.header h3{
margin-top:0px;
padding-top: 0px;
}

.nextbutton {
	text-align: center;
	margin-top:10%
}

hr{
	margin:12px;
}

.careerinput{
	margin:10%;
	margin-top: 10%;
}

.header h3{
	margin-top: 0px;
	margin-bottom: 0px;
	padding:0px 30px 0px 30px;
	font-size: 22px;
}