.feedbackAdd button{
     background-color: white;
     border-radius: 15px;

}

.navBar ul{
     list-style-type: none;
     width: 100%;
     background-color: #0D0221;
     background-size: 10% 100%;
     margin: 0%;
     overflow: hidden;
}

li a{
     float:left;
     background-color: #0D0221;
     display:block;
     text-align: center;
     color: #A5B2C9;
     padding: 14px 16px;
}

#barText4 {
     float: right;
     display:block;
     margin-right: 3%;

}

.evaluationBox{
     margin:2% 8% 10% 8%;
}

#donebutton{
     margin: 10% 4%;
}

.pageTitle{
     margin:2% 8% 0% 8%;
}

.row{
     padding:0%;
     margin: 0%;  
}

#eachRow{
     background-color: #CBDBF7;
     border-radius: 15px;
     padding:1% 0% 1% 0%;
     margin: 1% 0% 1% 0%;
}

/*.secondRow{
     margin:4% 8% 10% 8%;
}*/