/*html {
	background: url('http://www.publicdomainpictures.net/download-picture.php?adresar=70000&soubor=natural-green-background-1389459704YWX.jpg');
	background: url('http://images.freepicturesweb.com/img1/15/10/5.jpg');
     background-size: cover;
     font-size: 10pt;
}*/


#startButton{
     text-align: center;
}


.jumbotron {
     position: relative;
     text-align: center;
}

.title {
	text-align: center;/*
	font-size: 30px;*/
}


.body p{
	font-size: 18px;
	line-height:125%;
     padding: 0.5%;
     text-align: center;
     margin-bottom: auto;
}

#instrPar p{
     text-align: left;
}

.header{
     margin-bottom: 20px;
     color: #000080;
}

h1{
	text-align: center;
}

.button{
     margin-top: 40px;
}

#paragraph{
/*     color: #0000ff;*/
/*     font-size: 100%;*/
}

.aboutP {
     background-color: rgba(255, 255, 255, 0.7);
}



