html{
     background: url('../images/table1copy.jpg');
     background-size: cover;
}

.form{
	text-align: center;
}


h1{
	text-align: center;
	margin-top: 2%;
	margin-bottom: 2%;
}

form{
	background-color: rgba(255, 255, 255, 0.5);
     margin-top: 50px;
     padding-top: 5px;
     padding-bottom: 30px;
}

body{
	max-height: 100%;
	max-width: 100%;
     line-height: 1.5;
     background-color: transparent;

}

#logInBox{
     margin: 10% 15% 10% 15%;
     margin-top: 10px;
     width: 250px;
}

.form{
     width: 340px;
     margin:auto;
     text-align:center;
}

.inputBox{
     margin-top: 10px;
}

#button{
     margin-top: 10px;
}