/* applies to anything of class "example-class-selector" */
.example-class-selector {
	margin-top: 2em;
}

/* applies to any <p> descendants of an element of class "example-class-selector" */
.example-class-selector p {
	/* Colors are in hexadecimal: http://www.colorpicker.com/ */	
	color: #CC00AA;
}

h1{
    text-align: center;
    width: 100%;
}

h2{
     margin-left: 3%;
     margin-top: 0%;
}

body{
    background-color: #ECEDED;
}

.container {
    background: url('http://images.freepicturesweb.com/img1/15/10/5.jpg');
    background-size: cover;
    height: 100%;
    width: 100%;
}

.jumbotron {
     position: relative;
     text-align: center;
     background-color: #FFFFFF;
     padding: 1%;
     margin-bottom: 3%
    
}

.navBar ul{
     list-style-type: none;
     width: 100%;
     background-color: #0D0221;
     background-size: 10% 100%;
     margin: 0%;
     overflow: hidden;
}

li a{
     float:left;
     background-color: #0D0221;
     display:block;
     text-align: center;
     color: #A5B2C9;
     padding: 14px 16px;
}

#barText4 {
     float: right;
     display:block;
     margin-right: 3%;

}


.container p{
     color: #FF7E4C;
     background-color: #FF7E4C;
}

.questionBox ul{
     list-style-type: none;
     margin: 0%;
     width: 90%;
     height: 50%;
}

.lockedQuestionBox ul{
     list-style-type: none;
     margin: 0%;
     width: 90%;
     height: 50%;
}

#availableQuestion{
     margin: 0.5%;
     font-size: 22px;
     background-color: #FFFFFF;
}

#availableQuestion button{
     border: 1px solid #FFFFFF;
     cursor:pointer;
     background-color:#ffffff;
     font-size: 22px;
     text-decoration:none;
     margin: 0.5%;
}

.lockedQuestion button{
     border:1px solid #A5A6A6;
     cursor:pointer;
     background-color:#A5A6A6;
     font-size: 22px;
     text-decoration:none;
     margin: 0.5%;
}

.lockedQuestion{
     margin: 0.5%;
     opacity: .55;
     font-size: 22px;
     background-color: #A5A6A6;
}

.lockedMessageBox p{
     width: 200px;
     height: 200px;
     position: absolute;
     margin: 300px;
}

.lockMessage p{
     padding-left: 18px;
     color: #FF0000;
}





